<mat-toolbar class="toolbar">
  <a routerLink="/info" class="nav-item">
    <mat-icon
      aria-hidden="false"
      aria-label="app icon"
      fontIcon="attach_money"
    ></mat-icon>
    <span>BLP Token</span>
  </a>

  <div class="spacer"></div>

  <mat-nav-list class="list-items">
    @for (route of routes; track route) {
    <a
      *ngIf="
        route.isLoggedInRequired === undefined ||
        route.isLoggedInRequired === isLoggedIn
      "
      mat-list-item
      [href]="route.path"
      [activated]="isActiveRoute(route.path)"
      ><div class="list-items--content">
        <mat-icon color="primary">{{ route.icon }}</mat-icon>
        {{ route.label }}
      </div></a
    >
    }
    <mat-list-item *ngIf="isLoggedIn">
      <a mat-button (click)="logout()">
        <div class="list-items--content">
          <mat-icon color="primary">eject</mat-icon> Logout
        </div></a
      >
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>
